@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@500&family=Merienda&family=Montserrat&family=Roboto&display=swap");
html {
  font-size: 20px;
}
* {
  font-family: "Roboto", sans-serif;
}
.list-element {
  margin: 10px;
  width: 13rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(179, 179, 179);
  border-radius: 5px;
  color: white;
  font-family: sans-serif;
  cursor: pointer;
}
.pokemon-list {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.pokemon-image {
  margin: 0;
  width: 8rem;
}
.pokemon-txt {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
}
.pagination-button {
  border: none;
  outline: none;
  background-color: rgb(179, 179, 179);
  color: white;
  width: 300px;
  height: 50px;
  cursor: pointer;
  margin: 5px;
}
.button-parent {
  display: flex;
  margin: auto;
  width: 700px;
  justify-content: center;
}
.input-field {
  height: 40px;
  width: 350px;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
  margin-top: 50px;
}

.search-icon {
  position: relative;
  top: 223px;
  right: 115px;
}
.type-box {
  border-radius: 5px;
  background-color: rgb(109, 109, 109);
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding: 10px;
  text-align: center;
  display: inline-block;
  margin: 5px;
  font-size: 1rem;
}
.grass {
  background-color: green;
}
.normal {
  background-color: antiquewhite;
}
.poison {
  background-color: purple;
}
.fire {
  background-color: orange;
}
.flying {
  background-color: plum;
}
.water {
  background-color: rgb(99, 99, 255);
}
.bug {
  background-color: rgb(134, 206, 0);
}
.electric {
  background-color: rgb(253, 253, 10);
}
.fighting {
  background-color: red;
}
.psychic {
  background-color: palevioletred;
}
.ground {
  background-color: rgb(207, 199, 83);
}
.search-div {
  margin: auto;
  width: 600px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main-caption {
  font-size: 2rem;
}
.pop-up-div-background {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.466);
}
.pop-up-div {
  background-color: rgb(109, 109, 109);
  width: 500px;
  height: 600px;
  margin: auto;
  margin-top: 50px;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border: 5px solid rgb(40, 40, 40);
  padding: 5px;
}
.pop-up-div li {
  list-style: none;
}
.pokemon-image-pop {
  margin: auto;
  width: 250px;
  padding: none;
  margin-top: -50px;
  margin-bottom: -50px;
}
.pop-up-text-style {
  background-color: rgb(40, 40, 40);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 5px;
  border-radius: 5px;
}
.pop-up-pokemon-name {
  width: 200px;
  height: 50px;
  margin-top: 20px;
}
.pop-up-pokemon-id {
  width: 100px;
  height: 25px;
}
.pop-up-div ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-right: 40px;
  text-align: center;
  margin-top: -10px;
}
.pop-up-div ul li {
  background-color: rgb(60, 60, 60);
}
.typebox-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 5px;
  padding-bottom: 5px;
}
.pop-up-typebox {
  width: 250px;
  margin: auto;
}
.pop-up-button-cancel {
  background-color: rgb(185, 0, 0);
  color: white;
  width: 75px;
  height: 35px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: auto;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
}
